<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['profile']" routerLinkActive="rtr">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['list']" routerLinkActive="rtr">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <h4 class="card-title">Welcome {{usNm}}, to social media {{sm}}</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <input type="text" placeholder="Update user" #uN>
    <input type="button" value="Update" (click)="upUs(uN.value)" class="btn btn-primary">

    <a [routerLink]="['/dash','android']" [queryParams]="{'smApp' : 'linkedin'}" class="btn btn-primary">Go on this page</a>

    <router-outlet></router-outlet>
  </div>
</div>
